<!-- Döngüdən kənarda -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="deleteForm" asp-action="Delete" asp-controller="Sliders" asp-area="Admin" method="post">
                <input type="hidden" name="id" id="deleteSliderId" />
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Slaydı silmək istədiyinizə əminsiniz?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Bağla"></button>
                </div>
                <div class="modal-body">
                    Slayd silindikdə Həm Db-dən, həm də qovluqdan silinəcək...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ləğv et</button>
                    <button type="submit" class="btn btn-danger">Təsdiqlə</button>
                </div>
            </form>
        </div>
    </div>
</div>
