@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Techan | Dashboard";
}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Dashboard</h2>
    </div>
</section>
